<%include header.ejs%>
    <div class="post">
		<legend><font size="5" color="green"><%=post.title%></font></legend><br/>
		<a href="/u/<%=post.name%>"><img src="<%=post.head%>" class="r_head"></a>
		<%if(user.name == post.name){%>
			<div style="font-family:microsoft yahei">
				<a href="/edit/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">编辑</a>&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="/remove/<%=post.name%>/<%=post.time.day%>/<%=post.title%>">删除</a>
			</div>
		<%}%>
			<p class="info">
				作者：<a href="/u/<%=post.name%>"><%=post.name%></a> |
				日期: <%=post.time.minute%> |
				标签：<%if(post.tags){%>
						<%post.tags.forEach(function(tag,index){ %>
								<%if(tag.tag){%>
									<a class="tag" href="/tags/<%=tag.tag%>"><%=tag.tag%></a>
								<%}%>
						<%});%>
					  <%}%>
			</p>
			<p><%-post.post%></p>
			<p class="info">
					阅读：<%=post.pv%>  |  
					评论：<%=post.comments.length%>
			</p>
			<p>
				<%include comment.ejs%>
			</p>
    </div>
<%include footer.ejs%>
